body {
    margin: 0;
}

.container {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    background-color: aliceblue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}